{{ define "main" }}
<h1>{{ .Title }}</h1>

<ul class="publications-list">
    {{ range .Pages.ByDate.Reverse }}
    <li class="publication-item">

        {{/* Main citation line: authors, title, journal, year */}}
        <p class="citation">
            {{ with .Params.authors }}
            <strong>{{ delimit . ", " }}</strong>.
            {{ end }}
            <em><a href="{{ .Permalink }}">{{ .Title }}</a></em>.
            {{ with .Params.journal }}
            {{ . }}.
            {{ end }}
            {{ with .Date }}
            {{ .Format "2006" }}.
            {{ end }}
        </p>

        {{/* Links underneath citation using academicons */}}
        {{ partial "links.html" . }}

    </li>
    {{ end }}
</ul>
{{ end }}